<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Merienda+One&family=Pacifico&family=Roboto+Slab:wght@400;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
    <script async src="/index.js"></script>
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <title>Dirty Dancing Sign Up</title>
  </head>

  <body>
    <main>
      <div class="intro">
        <h1>Never before seen material</h1>

        <h2>receive an alert when Mike's website goes live.</h2>
        <p class="top-text">Join us for Mike's video tour on launch day!</p>
      </div>

      <div class="main-content">
        <img
          src="../images/mtblogosm.jpg"
          alt="mike the bartender logo"
          class="logo"
        />
        <h1>It’s a feeling, a heartbeat</h1>
        <h2>Sign up today and get the insider scoop</h2>

        <p>
          Mike has been the bartender at Kellerman's Resort for over a decade.
          During that time he's amassed historical artifacts, learned secrets
          and watched Dirty Dancing so many times he can recite every single
          line while shaking a Dirty Martini.
        </p>

        <p>
          Join him for walking video tours, see pages from unpublished scripts
          and learn how to make a Dirty Dancing Martini the right way.
        </p>

        <form id="email-collector" action="#" method="post">
          <input
            type="text"
            id="firstName"
            name="firstName"
            aria-label="first name"
            placeholder="First Name"
            required
          />

          <input
            type="text"
            id="lastName"
            name="lastName"
            aria-label="last name"
            placeholder="Last Name"
            required
          />

          <input
            type="email"
            id="email"
            name="email"
            aria-label="email"
            placeholder="Email"
            required
          />
          <button class="btn btn-main" type="submit">I Want In</button>
        </form>
        <p class="fine-print">
          We'll never share your information without your permission.
        </p>
      </div>
    </main>
  </body>
  <footer>Copyright © Mike The Bartender 2020</footer>
</html>
